a {
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://test/test.png',sizingMethod=crop);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="//a/b/test/test2/wFPs-e1B3wMRud8TzGw7YHjS08I.png",sizingMethod=crop);
}
