a {
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://test/test.png',sizingMethod=crop);
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='test.png',sizingMethod=crop);
}
