a {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="a/a1.png",bla=1);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="a/a1.png");
    background-image: url("a/a1.png");
}
b {
    background: url("a/a2.png");
}
c1 {
    background: url("//yandex.st");
}

c2 {
    background: url('http://yandex.st');
}

c3 {
    background: url(http://yandex.st);
}
